.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  color: white;
  font-family: "Orbitron", sans-serif; /* Example of a futuristic font */
}
.App-cta {
  padding: 1rem 2rem;
  border: none;
  position: relative;
  background: linear-gradient(50deg, #06bcee, #002aff); /* Solid gradient */
  background-blend-mode: normal; /* Prevent blending with background animation */
  color: white;
  font-family: "Orbitron";
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1.5px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 2rem;
  box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
  margin-top: 2rem;
}
.App-cta:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 118, 255, 0.23);
}

/* App.css */
@keyframes highlight-fade-in {
  from {
    background-size: 300% 300%;
    opacity: 0;
  }
  to {
    background-size: 100% 100%;
    opacity: 1;
  }
}

.futuristic-highlight {
  animation: highlight-fade-in 2s ease forwards;
  background: linear-gradient(45deg, #00ffe7, #00fffd, #00ffab, #00ff80);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
}
